:root {
--azul: #011752;
--cinza: #EBEBEB;
--verde-claro: #ADDABE;
--verde: #24CE6B;
--amarelo: #FFC928;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  }

body {
background: var(--cinza);
color: var(--azul);
}

/* Header & Nav */
.cyber-header {
    width: 100%;
    padding: 20px 5%;
    background: rgba(10, 10, 12, 0.5);
    border-bottom:none;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: 2px;
}

.logo span { color: var(--verde); 
}

/* HERO */
.hero {
text-align: center;
padding: 70px 20px;
background: linear-gradient(135deg, var(--verde), var(--verde-claro));
}

.hero h2 {
font-size: 32px;
}

/* CONTAINER */
.container {
padding: 40px;
}

/* GRID */
.grid {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 25px;
}

/* CARD */
.card {
background: white;
border-radius: 15px;
padding: 15px;
box-shadow: 0 10px 20px rgba(0,0,0,0.1);
transition: 0.3s;
}

.card:hover {
transform: translateY(-10px);
}

/* IMAGEM */
.card img {
width: 100%;
height: 180px;
object-fit: cover;
border-radius: 10px;
}

/* TEXTO */
.card h2 {
margin: 10px 0;
}

.tag {
background: var(--verde-claro);
padding: 5px 10px;
border-radius: 6px;
font-size: 12px;
}

/* BOTÃO */
.card button {
width: 100%;
margin-top: 10px;
padding: 10px;
background: var(--verde);
border: none;
color: white;
border-radius: 6px;
cursor: pointer;
}

.card button:hover {
background: var(--amarelo);
color: var(--azul);
}

/* FOOTER */
.footer {
background: var(--azul);
color: white;
text-align: center;
padding: 20px;
margin-top: 30px;
}
